<div
  class="
    grid grid-cols-1
    gap-3
    lg:gap-0 lg:grid-cols-2
    my-8
    bg-white
    lg:px-16
    px-1
    py-5
    drop-shadow-xl
  "
  *ngFor="let option of optionsControls; let i = index"
>
  <div>
    <input
      class="
        block
        w-full
        border-0 border-b-2 border-grey-500
        focus:ring-0 focus:border-black
        px-0.5
        w-full
      "
      type="text"
      [formControl]="option"
      placeholder="Enter option"
    />

    <form-error
      *ngIf="option.errors?.required"
      content="Option is required"
    ></form-error>
  </div>

  <div class="flex justify-end gap-3">
    <button
      class="h-min {{
        canDelete ? 'bg-blue-500' : 'bg-red-500'
      }} text-white px-4 py-2 rounded-sm"
      (click)="deleteOption(i)"
      [disabled]="!canDelete"
      type="button"
    >
      X
    </button>
    <button
      class=" h-min {{
        canMoveUp(i) ? 'bg-blue-500' : 'bg-red-500'
      }} text-white px-4 py-2 rounded-sm"
      (click)="moveOptionUp(i)"
      [disabled]="!canMoveUp(i)"
      type="button"
    >
      ▲
    </button>
    <button
      class="h-min {{
        canMoveDown(i) ? 'bg-blue-500' : 'bg-red-500'
      }} text-white px-4 py-2 rounded-sm"
      (click)="moveOptionDown(i)"
      [disabled]="!canMoveDown(i)"
      type="button"
    >
      ▼
    </button>
  </div>
</div>

<button
  class="
    block
    ml-auto
    mt-4
    w-8
    h-8
    bg-blue-500
    text-white
    font-bold
    text-2xl
    rounded-full
  "
  type="button"
  (click)="addOption()"
>
  +
</button>
