<label class="my-4 w-full block bg-white lg:px-16 px-1 py-5 drop-shadow-xl">
  <span class="text-lg lg:text-xl font-bold text-grey-800">Question</span>
  <input
    class="
      block
      w-full
      border-0 border-b-2 border-grey-500
      focus:ring-0 focus:border-black
      px-0.5
    "
    [formControl]="formControl"
    type="text"
    placeholder="Enter your question here"
  />

  <form-error content="Question is required" *ngIf="questionErrors?.required">
  </form-error>
  <form-error
    content="Question should be more than 5 characters"
    *ngIf="questionErrors?.minlength"
  >
  </form-error>
</label>
