<h3 class="my-4 text-slate-700 text-xl lg:text-3xl font-bold">
  {{ poll.question }}
</h3>

<div class="flex items-center gap-3" *ngFor="let opt of poll.options; let i = index">
  <div
    (click)="voteOption(i)"
    class="flex-1  {{
      canVote ? 'hover:bg-gray-100' : ''
    }} relative drop-shadow-xl my-2 border border-3 border-grey-700 p-2 {{
      canVote ? 'cursor-pointer' : ''
    }}"
  >
    <div class="z-10 align-center justify-between">
      <p class="text-black text-xl my-auto">
        {{ opt.option }}
      </p>
    </div>

    <div *ngIf="voted || showResults" class="w-full h-full -z-10">
      <div
        class="bg-blue-500 absolute h-full top-0 left-0 bg-opacity-50"
        [width]="getPollOptionPercentage(i)"
      ></div>
    </div>
  </div>
  <p *ngIf="voted || showResults" class="h-full flex-initial text-slate-500">
    {{ getPollOptionPercentage(i) | number: "1.2-2" }} %
  </p>
</div>

<button
  class="text-blue-500"
  *ngIf="!voted && !showResults"
  (click)="flipShowResults()"
>
  Show results
</button>
<button
  class="text-blue-500"
  *ngIf="!voted && showResults"
  (click)="flipShowResults()"
>
  Hide results
</button>

<p class="text-gray-400" *ngIf="isVoted">
  Poll has been voted by {{ poll.totalVotes }} anonymous visitors
</p>
<p class="text-gray-400" *ngIf="!isVoted">
  Poll has not yet been anonymously voted.
</p>
